/* Defaults */
:root {
  --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
  --color-gray-20: #e0e0e0;
  --color-gray-35: rgba(0, 0, 0, 0.35);
  --color-gray-50: #C0C0C0;
  --color-gray-60: rgba(0, 0, 0, 0.6);
  --color-gray-85: rgba(0, 0, 0, 0.85);
  --color-gray-90: #333;

  --color-hr: rgba(0, 0, 0, 0.07);

  --color-white: #fff;

  --background-color: #fff;

  --text-color: var(--color-gray-90);
  --text-color-link: #60a5fa;
  --text-color-link-hover: #dbeafe;
  --text-color-link-visited: #60a5fa;
  
}


/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font: 17px var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 100%; /* 600px /16 */
}

p, li {
  line-height: 1.7;
}

a[href] {
  color: var(--text-color-link);
}
a[href]:visited {
  color: var(--text-color-link-visited);
}

main {
  padding: 1rem;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: var(--font-family-monospace);
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}

.article pre[class*="language-"] {
  padding: 1.5em;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 30px 20px 0;
	margin: 0 auto;
	text-align: right;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav a {
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.35;
  color: var(--text-color-link);
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em; /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
  color: var(--color-gray-90);
  border: 1px solid var(--color-gray-50);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--color-gray-20);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Infobox */
:root {
  --color-infobox: #ffc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-infobox: #082840;
  }
}

.infobox {
  background-color: var(--color-infobox);
  color: var(--color-gray-90);
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.infobox ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 40px 100px 40px;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .wrapper {
    padding: 20px 10px 50px 10px
  } 
}

/* Profile */
.profile-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
}

.profile-section a {
  text-decoration: none;
}

.avatar-img {
  border-radius: 40px;
  width: 80px;
  height: 80px;
}

.avatar-name {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 1.1;
  color: var(--color-gray-85);
  margin-top: 20px;
  margin-bottom: 5px;
}

.avatar-sub {
  color: var(--color-gray-35);
  margin: 0;
}

.btn-more {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-link);
  padding: 6px 14px 7px 14px;
  border: 1px solid var(--text-color-link);
  border-radius: 20px;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-more:hover,
.btn-more:visited:hover {
  background: var(--text-color-link);
  color: var(--color-white);
  border: 1px solid transparent;
  box-shadow: none;
}

.article-header {
  text-align: center;
}

.article-header h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 1.1;
  margin-bottom: 10px;
}

.article-header-meta {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 400;
}

.article h3 {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -.005em;
  line-height: 1.3;
}

.article p {
  color: var(--color-gray-60)
}

.article p > code,
.article h3 > code {
  background-color: #F5F5F5;
  border-radius: 5px;
  display: inline-block;
  padding: 1px 6px;
  color: #7F7F7F;
  font: inherit;
}

.article p a,
.article p a:visited {
  color: var(--color-gray-60);
  box-shadow: inset 0 -2px 0 var(--text-color-link);
  transition: all .35s;
  transition-timing-function: cubic-bezier(.7, 0, .3, 1);
  padding-bottom: 1px;
  text-decoration: none;
}

.article p a:hover {
  box-shadow: inset 0 -25px 0 var(--text-color-link-hover);
}

hr {
  border: 0;
  height: 1px;
  background: var(--color-hr);
  width: 50%;
  margin: 75px auto;
}

/* Post meta */
.post-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  border-top: 1px solid var(--color-hr);
  margin-top: 55px;
  height: 120px;
  border-bottom: 1px solid var(--color-hr);
}

.post-meta-avatar {
  height: 36px;
  width: 36px;
  margin-right: 10px;
  border-radius: 50%;
}

.post-meta-author {
  display: flex;
  align-items: center;
}

.post-meta-name {
  font-weight: 700;
  color: var(--color-gray-90);
}

.post-meta-moto {
  font-weight: 400;
  color: var(--color-gray-35);
}

/* More posts */
.posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts-list-item {
  margin-top: 1em;
}

.posts-list h2 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.2;
}

.posts-list h3 {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -.005em;
  line-height: 1.3;
  margin-bottom: 0;
}

.posts-list h3 a,
.posts-list h3 a:visited {
  text-decoration: none;
  color: var(--color-gray-90)
}

.posts-list h3 a:hover {
  color: var(--text-color-link)
}

.posts-list-date {
  font-weight: 500;
  font-size: 13px;
  color: var(--color-gray-35);
  width: 100%;
  text-transform: uppercase;
  padding-top: 5px;
  letter-spacing: .02em;
}

.posts-list .btn-more {
  margin-top: 35px;
  display: inline-block;
}

.archive h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 1.1;
  margin-bottom: 40px;
}