---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Blog
  order: 2
---

<div class="archive">
<h1>All posts</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
</div>
