<div class="post-meta">
    <div class="post-meta-author">
        <img class="post-meta-avatar" src="{{ metadata.author.avatar }}" />
        <div class="post-meta-info">
            <div class="post-meta-name">{{ metadata.author.name }}</div>
            <div class="post-meta-moto">{{ metadata.author.moto }}</div>
        </div>
    </div>
</div>