<div class="profile">
    <div class="profile-section">
        <a href="/">
            <img class="avatar-img" src="/img/lebowski@2x.png" />
        
            <h1 class="avatar-name">Defite</h1>
            <p class="avatar-sub">digging holes</p>
        </a>
    </div>
</div>