<div class="profile">
    <div class="profile-section">
        <a href="/">
            <img class="avatar-img" src="{{ metadata.author.avatar }}" />
        
            <h1 class="avatar-name">{{ metadata.author.name }}</h1>
            <p class="avatar-sub">{{ metadata.author.moto }}</p>
        </a>
    </div>
</div>